*{
    box-sizing: border-box;
    justify-content:flex-start;
    
}

.navbar-brand,.nav-link{
color: white;
padding-left: 20px;
}

h3{
    padding-top: 40px;
    padding-left: 50px;
    padding-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:justify;
    justify-content: center;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card{
    width:100%;
    max-width:900px;
    height:500px;
    object-fit: cover;
    border-radius: 10px;
    
}


